.account-dropdown, .make-pointer {
     cursor: pointer;
}

#profileMenu {
     z-index: 9999;
}

.modal {
     z-index: 9999;
}

.text-align-center {
     text-align: center;
}

.display-none {
     display: none;
}